/* @theme A4 */

@import 'default';

section
{
  width: 210mm;
  height: 297mm;
  /* 상단 정렬(왼쪽 기준) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 50px;
}

/* /* section.right: 텍스트 오른쪽 정렬 */
section.right {
  /* 전체 영역이 오른쪽 정렬되도록 */
  text-align: right;
}

/* section.center: 텍스트 중앙 정렬 */
section.center {
  text-align: center;
}
 */
