/* @theme A4 */

@import 'default';

section
{
  width: 210mm;
  height: 297mm;
  padding: 50px;
  
  /* 상단 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
